In [5]:
import numpy as np
import pandas as pd

In [6]:
values = ['var1', 'var2', 'var3']
df = pd.DataFrame(columns=values)

In [7]:
for val in values:
    df[val] = np.random.random((240))
df.head()

       var1      var2      var3
0  0.887847  0.269203  0.322114
1  0.603759  0.009090  0.444882
2  0.682741  0.175781  0.505571
3  0.558754  0.786433  0.173528
4  0.700450  0.152951  0.383551