In [9]:
from tsai.all import *
from core import fetching

In [10]:
df = fetching.mosmix_forecast()
df.head()

,station_name,station_id,dataset,parameter,date,value,quality
0,GELSENKIRCHEN,K1115,small,ttt,2022-03-28 20:00:00+00:00,283.95,NaN
1,GELSENKIRCHEN,K1115,small,ttt,2022-03-28 21:00:00+00:00,282.55,NaN
2,GELSENKIRCHEN,K1115,small,ttt,2022-03-28 22:00:00+00:00,281.65,NaN
3,GELSENKIRCHEN,K1115,small,ttt,2022-03-28 23:00:00+00:00,280.75,NaN
4,GELSENKIRCHEN,K1115,small,ttt,2022-03-29 00:00:00+00:00,280.15,NaN

In [11]:
df = fetching.clean_dataframe(df)
df = fetching.rename_columns(df)
df.head()

,Date,TempOut [K],DewPt [K],WindSpeed [m/s],SolarRad [kJ/m²]
0,2022-03-28 20:00:00+00:00,283.95,278.75,2.06,0.0
1,2022-03-28 21:00:00+00:00,282.55,278.65,2.06,0.0
2,2022-03-28 22:00:00+00:00,281.65,278.55,1.54,0.0
3,2022-03-28 23:00:00+00:00,280.75,278.45,1.54,0.0
4,2022-03-29 00:00:00+00:00,280.15,278.15,1.54,0.0