In [41]:
from tsai.all import *
from datetime import timedelta

In [37]:
files = glob.glob('model input CSVs/*.csv')
files

['model input CSVs\\input Forest Road.csv',
 'model input CSVs\\input Maple Drive East.csv',
 'model input CSVs\\input YMCA.csv']

In [45]:
dfs = list()
unique_id = 0
format = '%Y-%m-%d %H:%M:%S'
time_min = timedelta(days=25)
for file in files:
    df = pd.read_csv(file, delimiter=';')
    rows = df.shape[0]
    drop_id = np.where(df.isna())[0]
    print(drop_id)

    cut_id = np.where(np.diff(drop_id)!=1)
    for i in range(len(cut_id)-1):
        time_start = datetime.strptime(df['Time'][cut_id[i]], format)
        time_end = datetime.strptime(df['Time'][cut_id[i+1]], format)
        if time_end-time_start < time_min:
            print(range(cut_id[i], cut_id[i+1]))
    #df['unique_id']
    df = df.drop(drop_id)
    dfs.append(df)

[  12   68   69 ... 7310 7311 7312]
[   0    1    2    3    4    5    6    7    8    9   10   11   12   13
   14   15   16   17   18   19   20   21   22   23   24   25   26   27
   28   29   30   31   32   33   34   35   36   37   38   39   40   41
   42   43   44   45   46   47   48   49   50   51   52   53   54   55
   56   57   58   59   60   61   62   63   64   65   66   67   68   69
   70   71   72   73   74   75   76   77   78   79   80   81   82   83
   84   85   86   87   88   89   90   91   92   93   94   95   96   97
   98   99  100  101  102  103  104  105  106  107  108  109  110  111
  112  113  114  115  116  117  118  119  120  121  122  123  124  125
  126  127  128  129  130  131  132  133  134  135  136  137  138  139
  140  141  142  143  144  145  146  147  148  149  150  151  152  153
  154  155  156  157  158  159  160  161  162  163  164  165  166  167
  168  169  170  171  172  173  174  175  176  177  178  179  180  181
  182  183  184  185  186  187  188  189  190  191  192  193  194  195
  196  197  198  199  200  201  202  203  204  205  206  207  208  209
  210  211  212  213  214  215  216  217  218  219  220  221  222  223
  224  225  226  227  228  229  230  231  232  233  242  316  317  351
  407  408  409  410  411  412  413  414  415  416  417  418  419  420
  421  422  423  424  425  426  427  428  429  430  431  432  433  434
  435  436  437  438  439  440  441  442  443  444  445  446  447  448
  449  450  451  452  453  454  455  456  457  458  459  460  461  462
  463  464  465  466  467  468  469  470  471  472  473  474  475  476
  749 1160 1161 1162 1163 1164 1165 2077 2078 2079 2080 2081 2082 2083
 2084 2085 3607 3608 3629 3630 3631 3632 3633 3634 3635 3636 3637 3638
 3639 3640 3641 3642 3643 3654 3702 3703 3736 3815 3845 3846 3847 3848
 3849 3850 3851 3852 3853 3854 3891 3892 3893 3923 3947 3981 3982 3999
 4000 4001 4002 4003 4004 4012 4013 4031 4032 4033 4122 4175 4176 4231
 4232 4233 4234 4289 4290 4415 5109 5632 5633 5634 5635 5636 5637 5638
 5639 5640 5641 5642 5643 5644 5645 5646 5647 5648 5649 5650 5651 5652
 5653 5654 5655 5656 5657 5658 5659 5660 5661 5662 5663 5664 5665 5666
 5667 5668 5669 5670 5671 5672 5673 5674 5675 5676 5677 7171 7172 7173
 7174 7175 7176 7177 7178 7179 7180 7181 7182 7183 7184 7185 7186 7187
 7188 7189 7190 7191 7192 7193 7194 7195 7196 7197 7198 7199 7200 7201
 7202 7203 7204 7205 7206 7207 7208 7209 7210 7211 7212 7213 7214 7215
 7216 7217 7218 7219 7220 7221 7222 7223 7224 7225 7226 7227 7228 7229
 7230 7231 7232 7233 7234 7235 7236 7237 7238 7239 7240 7241 7242 7243
 7244 7245 7246 7247 7248 7249 7250 7251 7252 7253 7254 7255 7256 7257
 7258 7259 7260 7261 7262 7263 7264 7265 7266 7267 7268 7269 7270 7271
 7272 7273 7274 7275 7276 7277 7278 7279 7280 7281 7282 7283 7284 7285
 7286 7287 7288 7289 7290 7291 7292 7293 7294 7295 7296 7297 7298 7299
 7300 7301 7302 7303 7304 7305 7306 7307 7308 7309 7310 7311 7312 7313
 7314 7315 7316 7317 7318 7319 7320 7321 7322 7323 7324 7325 7326 7327
 7328 7329 7330 7331 7332 7333 7334 7335 7336 7337 7338 7339 7340 7341
 7342 7343 7344 7345 7346 7347 7348 7349 7350 7351 7352 7353 7354 7355
 7356 7357 7358 7359 7360 7361 7362 7363 7364 7365 7366 7367 7368 7369
 7370 7371 7372 7373 7374 7375 7376 7377 7378 7379 7380 7381 7382 7383
 7384 7385 7386 7387 7388 7389 7390 7391 7392 7393 7394 7395 7396 7397
 7398 7399 7400 7401 7402 7403 7404 7405 7406 7407]
[ 194  195  196  197  364  524  525  526  527  867  955  984  985 1108
 1109 1110 1111 1112 1461 1538 1539 1752 2603 2604 2605 2606 2607 2608
 2609 2610 2611 2612 2613 2614 2615 2616 2617 2618 2619 2639 2640 2641
 2642 2687 2699 2711 2712 2732 2733 2734 2772 2790 2820 2834 2835 2836
 2837 2838 2868 2922 2958 2959 2960 2961 2962 2963 2964 2965 2966 2967
 2968 2988 3266 3267 3268 3269 4180 4181 4182 5608 5609 5610 5762 5775
 5776 5777 5778 5779 5780 5781 5782 5783 5784 5785 5786 5787 5788 5789
 5790 5791 5792 5793 5794 5795 5796 5797 5798 5799 5800 5801 5802 5803
 5804 5805 5806 5807 5808 5809 5810 5811 5812 5813 5814 5815 5816 5817
 5818 5819 5820 5821 5822 5823 7581 7582 7583 7584 7585 7586 7587 7588
 7589 7590 7591 7592 7593 7594 7595 7596 7597 7598 7599 7600 7601 7602
 7603 7604 7605 7606 7607 7608 7609 7610 7611 7612 7613 7614 7615 7616
 7617 7618 7619 7620 7621 7622 7623 7624 7625 7626 7627 7628 7629 7630
 7631 7632 7633 7634 7635 7636 7637 7638 7639 7640 7641 7642 7643 7644
 7645 7646 7647 7648 7649 7650 7651 7652 7653 7654 7655 7656 7657 7658
 7659 7660 7661 7662 7663 7664 7665 7666 7667 7668 7669 7670 7671 7672
 7673 7674 7675 7676 7677 7678 7679 7680 7681 7682 7683 7684 7685 7686
 7687 7688 7689 7690 7691 7692 7693 7694 7695 7696 7697 7698 7699 7700
 7701 7702 7703 7704 7705 7706 7707 7708 7709 7710 7711 7712 7713 7714
 7715 7716 7717 7718 7719 7720 7721 7722 7723 7724 7725 7726 7727 7728
 7729 7730 7731 7732 7733 7734 7735 7736 7737 7738 7739 7740 7741 7742
 7743 7744 7745 7746 7747 7748 7749 7750 7751 7752 7753 7754 7755 7756
 7757 7758 7759 7760 7761 7762 7763 7764 7765 7766 7767 7768 7769 7770
 7771 7772 7773 7774 7775 7776 7777 7778 7779 7780 7781 7782 7783 7784
 7785 7786 7787 7788 7789 7790 7791 7792 7793 7794 7795 7796 7797 7798
 7799 7800 7801 7802 7803 7804 7805 7806 7807 7808 7809 7810 7811 7812
 7813 7814 7815 7816 7817 7818 7819 7820 7821 7822 7823 7824 7825 7826
 7827 7828 7829 7830 7831 7832 7833 7834 7835 7836 7837 7838 7839 7840
 7841 7842 7843 7844 7845 7846 7847 7848]

In [ ]:
dfs[0]['Time'][1]

'2013-12-09 23:00:00'

In [ ]:

day0 = datetime.strptime(dfs[0]['Time'][0], format)
day1 = datetime.strptime(dfs[0]['Time'][1], format)
day1-day0

datetime.timedelta(seconds=3600)

In [ ]:
dfs[1].head()

,Site,Time,TempOut [K],DewPt [K],WindSpeed [m/s],SolarRad [kJ/mÂ²],P_gen [kW]
234,Maple Drive East,2013-12-05 13:00:00,282.35,278.35,6,124.2,0.93
235,Maple Drive East,2013-12-05 14:00:00,283.35,278.95,6,108.0,0.35
236,Maple Drive East,2013-12-05 15:00:00,283.45,279.55,6,36.0,0.17
237,Maple Drive East,2013-12-05 16:00:00,283.65,279.95,6,0.0,0.04
238,Maple Drive East,2013-12-05 17:00:00,283.15,280.55,4,0.0,0.00