In [10]:
from tsai.all import *
import pandas as pd

# Data preparation

In [11]:
df = pd.DataFrame()
df['sample_id'] = np.array([1,1,1,2,2,2,3,3,3])
df['var1'] = df['sample_id'] * 10 + df.index.values
df['var2'] = df['sample_id'] * 100 + df.index.values
df

   sample_id  var1  var2
0          1    10   100
1          1    11   101
2          1    12   102
3          2    23   203
4          2    24   204
5          2    25   205
6          3    36   306
7          3    37   307
8          3    38   308

## Extracting

### df2Xy
Source: https://github.com/timeseriesAI/tsai/blob/main/tsai/data/preparation.py#L15

In [21]:
X,y = df2Xy(
    df, 
    sample_col='sample_id', 
    feat_col=None, 
    data_cols=['var1', 'var2'], 
    target_col=None, 
    steps_in_rows=False, 
    to3d=True, 
    splits=None, 
    sort_by=None, 
    ascending=True, 
    y_func=None, 
    return_names=False
    )
X, y

(array([[[ 10, 100,  11, 101,  12, 102]],

        [[ 23, 203,  24, 204,  25, 205]],

        [[ 36, 306,  37, 307,  38, 308]]], dtype=int64),
 None)

In [27]:
X,y = split_Xy(
    X=X, 
    y=y, 
    splits=None,
    )
X, y

ValueError: too many values to unpack (expected 2)

In [ ]:
df2np3d(
    df, 
    groupby, 
    data_cols=None
    )

## Manipulating

In [ ]:
add_missing_value_cols(
    df, 
    cols=None, 
    dtype=float, 
    fill_value=None
    )

In [ ]:
add_missing_timestamps(
    df, 
    datetime_col, 
    groupby=None, 
    fill_value=nan, 
    range_by_group=True, 
    freq=None
    )

In [ ]:
time_encoding(
    series, 
    freq, 
    max_val=None
    )

In [ ]:
window_len = 5
unique_id_cols = 2

In [ ]:
SlidingWindow(
    window_len, 
    stride=1, 
    start=0, 
    pad_remainder=False, 
    padding='post', 
    padding_value=nan, 
    add_padding_feature=True, 
    get_x=None, 
    get_y=None, 
    y_func=None, 
    output_processor=None, 
    copy=False, 
    horizon=1, 
    seq_first=True, 
    sort_by=None, 
    ascending=True, 
    check_leakage=True
    )

In [ ]:
SlidingWindowPanel(window_len, 
unique_id_cols, 
stride=1, 
start=0, 
pad_remainder=False, 
padding='post', 
padding_value=nan, 
add_padding_feature=True, 
get_x=None, 
get_y=None, 
y_func=None, 
output_processor=None, 
copy=False, 
horizon=1, 
seq_first=True, 
sort_by=None, 
ascending=True, 
check_leakage=True, 
return_key=False, 
verbose=True
)